header{
    background-image: url(../imgs/desktop/fundo-index-desktop.png);
}

main ul{
    padding-left: 1em;
    list-style: square;
}

@media only screen and (max-width: 900px) {
    header{
        background-image: url(../imgs/tablet/fundo-index-tablet.png);
    }
}
@media only screen and (max-width: 400px) {
    header{
        background-image: url(../imgs/mobile/fundo-index-mobile.png);
    }
}